.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }
  
  .buttton-submit{
    background: slategrey
  }

  .container-button-atras{
    margin: 10%;
  }